*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__canvas
{
    width: 1376px;
    height: 768px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}

.button
{
    text-align: center;
    padding: 10px;
    background-color: antiquewhite;
    margin: 10px 20px 10px 0;
    cursor: pointer;
}

.button_red
{
    background-color: #ff6464;
}

.button__wrapper
{
    display: flex;
    flex-direction: row;
}

.element
{
    position: absolute;
}

.corner
{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50px;
    cursor: pointer;
}

.selected
{
    outline: 2px dashed black;
    z-index: 1;
}